
   
   .weatherTab {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(356deg, #86f8ff, #155abb);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}


    button.WeatherButton {
    background: none;
    border: none;
    box-shadow: none;
    height: 138px;
    font-size: 20px;
     color: white;     
      padding: 12px 25px;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;   
      transition: 0.3s;
}
 button.WeatherButton:hover {
    transform: translateY(-2px);
    color: black;
}
    /* Popup Overlay */
    .overlay {
            overflow: scroll;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      display: none;
      align-items: center;
      justify-content: center;
      animation: fadeIn 0.4s ease;
    }

    /* Popup Box */
    .popup {
      background: linear-gradient(185deg, #86f8ff, #4d91f0);
      backdrop-filter: blur(15px);
      border-radius: 20px;
      padding: 30px;
      text-align: center;
      width: 572px;
      color: #fff;
      box-shadow: 0 8px 25px rgba(0,0,0,0.3);
      transform: scale(0.8);
      transition: 0.3s;
      animation: zoomIn 0.4s forwards;
    }

    .close-btn {
      position: absolute;
      top: 20px;
      right: 25px;
      background: transparent;
      border: none;
      color: white;
      font-size: 30px;
      cursor: pointer;
    }

    input {
      padding: 10px;
      border: none;
      border-radius: 10px;
      width: 80%;
      text-align: center;
      outline: none;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .search-btn {
      background: #0078ff;
      color: white;
      border: none;
      padding: 8px 20px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
    }

    .search-btn:hover {
      background: #005fcc;
    }

    img {
      width: 80px;
      height: 80px;
    }

    .temp {
      font-size: 2.2rem;
      font-weight: bold;
      margin: 5px 0;
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes zoomIn {
      from { transform: scale(0.8); opacity: 0; }
      to { transform: scale(1); opacity: 1; }
    }

