/* Common Styles */
.weatherTab {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(356deg, #86f8ff, #155abb);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  height: 150px;
}
.CityFactsTab {
     font-family: 'Poppins', sans-serif;
  background: linear-gradient(356deg, #fe823e, #bb1527);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  height: 150px;

}

button.WeatherButton, button.CityFactsButton {
  background: none;
  border: none;
  height: 138px;
  font-size: 18px;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button.WeatherButton:hover, button.CityFactsButton:hover {
  transform: translateY(-2px);
  color: black;
}

/* Weather Popup */
.overlay {
  overflow: auto;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: linear-gradient(185deg, #86f8ff, #4d91f0);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  width: 550px;
  color: #fff;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  animation: zoomIn 0.4s forwards;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* City Facts Popup */
.cityFactsOverlay {
  display: none;
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  align-items: center;
  justify-content: center;
}

.cityFactsOverlay .modal-content {
    text-align: center;
  background:linear-gradient(176deg, #fe823e, #cd949a);
  padding: 20px 25px;
  border-radius: 20px;
  width: 90%;
  max-width: 480px;
  animation: fadeIn 0.4s;
      height: 540px;
    overflow: auto;
}

.cityFactsOverlay .close {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    text-align: end;
    cursor: pointer;
}

.cityFactsOverlay .close:hover {
  color: black;
}

.flag {
  width: 70px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.loading {
  display: none;
  margin: 10px 0;
  font-weight: bold;
  color: #555;
}

/* Animations */
@keyframes zoomIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
